name: Call a reusable workflow
on:
  # Triggers the workflow on push or pull request events on the "main" branch
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  job1:
    uses: hocine85/Scripts/.github/workflows/reusable_test.yml@main 